--extra-index-url https://download.pytorch.org/whl/cpu

streamlit

# Utilities
numpy
pandas

# Face Recognition
scikit-learn
dlib
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# AI
torch==2.7.1

# Database
supabase
bcrypt

# QR
segno

# Image
pillow

# Voice
librosa
resemblyzer